.makecommerce-payment-methods .payment-method-selected {
    border: 2px #32CB64 solid;
    box-shadow: none;
}

.makecommerce-payment-methods .payment-method-selected > .check {
    display: block;
    width: 16px;
    height: 16px;
    background: url("https://static.maksekeskus.ee/img/woocommerce/check.svg") no-repeat 0 0;
    position: absolute;
    top: -8px;
    right: -8px;
}

.makecommerce-payment-methods .payment-method .payment-control{
    padding: 0px 0px 0px 0px !important;
}

/*!* Style the logo image on checkout *!*/
.woocommerce-checkout label[for="payment_method_makecommerce"] img {
    height: 20px;
}

.mc-payment-logo {
    height: 30px !important;
    max-height: 100%;
    position: static !important;
}
