.mcSelectContainer .select2-selection__rendered {
  text-align: left;
  width: 100%;
}

.mcShippingSelectDropdown {
  max-width: 600px;
}

.wc-checkout-review-order-table tr.makecommerce-pickuppoint-wrapper,
.woocommerce-checkout-review-order-table tr.makecommerce-pickuppoint-wrapper {
  display: none;
}
